{# <div class="swiper-viewport">
  <div id="banner{{ module }}" class="swiper-container">
    <div class="swiper-wrapper">
      {% for banner in banners %}
      <div class="swiper-slide">{% if banner.link %}<a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" /></a>{% else %}<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />{% endif %}</div>
      {% endfor %}
    </div>
  </div>
</div>
<script type="text/javascript"><!--
  $('#banner{{ module }}').swiper({
    effect: 'fade',
    autoplay: 2500,
    autoplayDisableOnInteraction: false
  });
--></script>  #}

<div id="banner{{ module }}" class="banner-area">
		<div class="container">
			<div class="row">
				<!-- single-banner start -->
					{% for banner in banners %}
				<div class="col-md-5 col-sm-5 col-xs-12">
					<div class="single-banner">
				
					{% if banner.link %}
						<a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}"></a>
						{% else %}
						<img src="{{ banner.image }}" alt="{{ banner.title }}">
					{% endif %}
					</div>
				</div>
				  {% endfor %}
				<!-- single-banner end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript"><!--
  $('#banner{{ module }}').swiper({
    effect: 'fade',
    autoplay: 2500,
    autoplayDisableOnInteraction: false
  });
--></script>