 {# <div class="list-group">
  {% for category in categories %}
  {% if category.category_id == category_id %} 
  <a href="{{ category.href }}" class="list-group-item active">{{ category.name }}</a> 
  {% if category.children %}
  {% for child in category.children %}
  {% if child.category_id == child_id %}
  <a href="{{ child.href }}" class="list-group-item active">&nbsp;&nbsp;&nbsp;- {{ child.name }}</a> 
  {% else %} 
  <a href="{{ child.href }}" class="list-group-item">&nbsp;&nbsp;&nbsp;- {{ child.name }}</a>
  {% endif %}
  {% endfor %}
  {% endif %}
  {% else %} <a href="{{ category.href }}" class="list-group-item">{{ category.name }}</a>
  {% endif %}
  {% endfor %}
</div>  #}

<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<!-- widget-categories start -->
					<aside class="widget widget-categories">
						<h3 class="sidebar-title">Categories</h3>
						<ul class="sidebar-menu">
							<li><a href="#">Clothes</a> <span class="count">(14)</span></li>
							<li><a href="#">Men</a> <span class="count">(9)</span></li>
							<li><a href="#">Shoes</a> <span class="count">(2)</span></li>
							<li><a href="#">Sunglasses</a> <span class="count">(2)</span></li>
							<li><a href="#">Women</a> <span class="count">(8)</span></li>
						</ul>
					</aside>
					<!-- widget-categories end -->
					<!-- shop-filter start -->
					<aside class="widget shop-filter">
						<h3 class="sidebar-title">price</h3>
						<div class="info_widget">
							<div class="price_filter">
								<div id="slider-range" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 3.75%; width: 90.8929%;"></div><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 3.75%;"></span><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 94.6429%;"></span></div>
								<div class="price_slider_amount">
									<input type="text" id="amount" name="price" placeholder="Add Your Price">
									<input type="submit" value="Filter">
								</div>
							</div>
						</div>
					</aside>
					<!-- shop-filter end -->
					<!-- filter-by start -->
					<aside class="widget filter-by">
						<h3 class="sidebar-title">Filter by</h3>
						<ul class="sidebar-menu">
							<li><a href="#">L</a> <span class="count">(1)</span></li>
							<li><a href="#">M</a> <span class="count">(1)</span></li>
							<li><a href="#">S</a> <span class="count">(1)</span></li>
							<li><a href="#">XL</a> <span class="count">(1)</span></li>
						</ul>
					</aside>
					<!-- filter-by end -->
					<!-- widget-tags start -->
					<aside class="widget widget-tags">
						<h3 class="sidebar-title">Tags</h3>
						<ul>
							<li><a href="#">asian</a></li>
							<li><a href="#">brown</a></li>
							<li><a href="#">euro</a></li>
							<li><a href="#">fashion</a></li>
							<li><a href="#">france</a></li>
							<li><a href="#">hat</a></li>
							<li><a href="#">travel</a></li>
							<li><a href="#">white</a></li>
							<li><a href="#">t-shirt</a></li>
							<li><a href="#">teen</a></li>
						</ul>
					</aside>
					<!-- widget-tags end -->
					<!-- widget-recent start -->
					<aside class="widget top-product-widget">
						<h3 class="sidebar-title">Top rated products</h3>
						<ul>
							<li>
								<div class="single-product">
									<div class="product-img">
										<a href="#">
											<img class="primary-image" src="img/product/15.jpg" alt="">
											<img class="secondary-image" src="img/product/16.jpg" alt="">
										</a>
									</div>
									<div class="product-content">
										<div class="pro-info">
											<h2 class="product-name"><a href="#">Curabitur vulputate</a></h2>
											<div class="price-box">
												<span class="new-price">£90.00</span>
												<span class="old-price">£120.00</span>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="single-product">
									<div class="product-img">
										<a href="#">
											<img class="primary-image" src="img/product/women/8.jpg" alt="">
											<img class="secondary-image" src="img/product/women/1.jpg" alt="">
										</a>
									</div>
									<div class="product-content">
										<div class="pro-info">
											<h2 class="product-name"><a href="#">Aliquam lobortis est</a></h2>
											<div class="price-box">
												<span class="new-price">£70.00</span>
												<span class="old-price">£100.00</span>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="single-product">
									<div class="product-img">
										<a href="#">
											<img class="primary-image" src="img/product/6.jpg" alt="">
											<img class="secondary-image" src="img/product/7.jpg" alt="">
										</a>
									</div>
									<div class="product-content">
										<div class="pro-info">
											<h2 class="product-name"><a href="#">Pellentesque posuere</a></h2>
											<div class="price-box">
												<span class="new-price">£50.00</span>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</aside>
					<!-- widget-recent end -->
				</div>